@charset "utf-8";

body {
	font-family: Arial, sans-serif;
	margin: 0;
	padding: 0;
	background-color: #f2f2f2;
}

header {
	background-color: #ffa500;
	color: #fff;
	padding: 20px;
	text-align: center;
}

h1 {
	margin: 0;
	font-size: 36px;
}

main {
	margin: 20px;
}

section {
	margin-bottom: 40px;
}

h2 {
	font-size: 24px;
	margin: 0 0 20px 0;
}

ul, ol {
	margin-top: 0;
	margin-bottom: 20px;
}

li {
	margin-left: 20px;
}

.gallery {
	display: flex;
}

.gallery img {
	margin-bottom: 20px;
	width: 33%;
	border: 2px solid #ffa500;
	border-radius: 5px;
}

footer {
	background-color: #ffa500;
	color: #fff;
	padding: 10px;
	text-align: center;
}
